<div
  #modal
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable"
    [style]="{width: options.width ? options.width + 'px' : null}"
  >
    <div class="modal-content" [style]="{width: options.width ? options.width + 'px' : ''}">
      <div class="modal-header">
        <h5 class="modal-title">{{options.title | translate : options.titleParams }}</h5>
        <button
          *ngIf="!options.notClosable"
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="cancel()"
        >
        </button>
      </div>
      <div class="modal-body">
        <ng-container
          modalBody
          *ngIf="options.component"
          [component]="options.component"
          [data]="options.data"
          (dataValidate)="dataValidate($event)"
        >
        </ng-container>
        <ng-container
          *ngIf="options.html"
        >
          <div
            [innerHTML]="sanitize(options.html)"
          >
          </div>
        </ng-container>
      </div>
      <div *ngIf="!options.noFooter" class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="cancel()"
        >
          {{(options.btnText && options.btnText.cancel ? options.btnText.cancel : 'CANCEL') | translate}}
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="validate()"
        >
          {{(options.btnText && options.btnText.validate ? options.btnText.validate : 'VALIDATE') | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
