@import "../../../../assets/theme";

.host-list {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .card {
    height: 100%;
    max-height: 100%;
    min-width: 800px;

    &-header {
      .title {
        height: 38px;
        display: flex;
        align-items: center;
        white-space: nowrap;

        .text {
          text-transform: uppercase;
          font-weight: 500;
        }

        .icon {
          margin-right: 5px;
        }
      }
    }

    &-body {
      padding: 0;
      max-height: calc(100% - 114px);
      overflow-y: auto;
    }
  }
}
