<div class="content">
  <form [formGroup]="formGroup">
    <fieldset>
      <legend>
        <div class="d-flex">
          <span>{{ 'SERVICE.NTP.DEFAULT_NTP_SERVERS' | translate }}</span>
          <button class="btn btn-light btn-sm" (click)="add()">
            <i class="cfg-plus-square"></i>
          </button>
        </div>
      </legend>
      <div>
        <div class="form-group">
          <div
            *ngFor="let server of service.defaultNtpServers; let i = index"
            class="d-flex mb-2"
          >
            <input
              class="form-control form-control-sm"
              [formControlName]="'ntp-server-' + i"
              [ngClass]="{'is-invalid': !isValid('ntp-server-' + i)}"
              [value]="server"
            >
            <button class="btn btn-light btn-sm" (click)="remove(server)">
              <i class="cfg-minus-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
