<class class="content">
  <form [formGroup]="formGroup">
    <fieldset>
      <legend>
        <div class="d-flex">
          <span>{{ 'SERVICE.NTP.DEFAULT_NTP_SERVERS' | translate }}</span>
          <button class="btn btn-light btn-sm" (click)="add('defaultNtpServers')">
            <i class="cfg-plus-square"></i>
          </button>
        </div>
      </legend>
      <div>
        <div class="form-group">
          <div
            *ngFor="let server of ntpService.defaultNtpServers; let i = index"
            class="d-flex mb-2"
          >
            <input
              class="form-control form-control-sm"
              [formControlName]="'d-ntp-server-' + i"
              [ngClass]="{'is-invalid': !isValid('d-ntp-server-' + i)}"
              [value]="server"
            >
            <button class="btn btn-light btn-sm" (click)="remove('defaultNtpServers', server)">
              <i class="cfg-minus-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>
        <div class="d-flex">
          <span>{{ 'SERVICE.NTP.COM_SYSTEM_NTP_SERVERS' | translate }}</span>
          <button class="btn btn-light btn-sm" (click)="add('communicationSystemNtpServer')">
            <i class="cfg-plus-square"></i>
          </button>
        </div>
      </legend>
      <div>
        <div class="form-group">
          <div
            *ngFor="let server of ntpService.communicationSystemNtpServer; let i = index"
            class="d-flex mb-2"
          >
            <input
              class="form-control form-control-sm"
              [formControlName]="'c-ntp-server-' + i"
              [ngClass]="{'is-invalid': !isValid('c-ntp-server-' + i)}"
              [value]="server"
            >
            <button class="btn btn-light btn-sm" (click)="remove('communicationSystemNtpServer', server)">
              <i class="cfg-minus-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="actions d-flex justify-content-end">
    <button class="btn btn-danger me-3" (click)="reset()">
      {{'RESET' | translate}}
    </button>
    <button class="btn btn-primary" (click)="save()" [disabled]="!valid">
      {{'SAVE' | translate}}
    </button>
  </div>
</class>
