<div class="content">
  <form [formGroup]="formGroup">
    <fieldset>
      <legend>
        <div class="d-flex">
          <span>{{ 'SERVICE.NTP.DEFAULT_NTP_SERVERS' | translate }}</span>
          <button class="btn btn-light btn-sm" (click)="addDefaultNtpServer()">
            <i class="cfg-plus-square"></i>
          </button>
        </div>
      </legend>
      <div>
        <div class="form-group">
          <div
          *ngFor="let defaultNtpServerFormGroup of abstractControlsToFormGroups(defaultNtpServerFormArray.controls); let i = index"
          [formGroup]="defaultNtpServerFormGroup"
          class="d-flex mb-2"
          >
            <input
              class="form-control form-control-sm"
              formControlName="defaultNtpServer"
              [ngClass]="{'is-invalid': !isValid('defaultNtpServer', defaultNtpServerFormGroup)}"
              (keypress)="intAlphaSeparatorKeypress($event)"
              >
            <button class="btn btn-light btn-sm" (click)="removeDefaultNtpServer(i)">
              <i class="cfg-minus-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
