# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/app-builds
/release
main.js
src/angular/app/**/*.js
src/electron/**/*.js
src/e2e/**/*.js
!src/angular/karma.conf.js
!src/angular/angular.webpack.js
*.js.map
package-lock.json
app/package-lock.json
app/*.js
app/*.js.map

# dependencies
node_modules
app/node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/reports
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/snapshot

# e2e
/e2e/*.js
!/src/e2e/protractor.conf.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
