//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// @import "./assets/icon-font/style.css";
@import "./assets/theme";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  background: url("./assets/image/background.jpg") no-repeat;
  background-size: 100% 100%;
}

* {
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  &-header {
    .title {
      height: 38px;
      display: flex;
      align-items: center;
      white-space: nowrap;

      .text {
        text-transform: uppercase;
        font-weight: 500;
      }

      .icon {
        margin-right: 5px;
      }
    }
  }

  &-body {
    padding: 0;
    max-height: calc(100% - 106px);

    .item {
      display: flex;

      .info {
        flex-grow: 1;
      }

      .delete {

        &:hover {
          color: lighten($red, 10%) !important;
        }

        &:active {
          color: darken($red, 10%) !important;
        }
      }
    }
  }
}

.dropdown {
  &-btn {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &-menu {
    &-item {
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.8;
      }
    }
  }
}

.service {
  padding: 10px;

  .content {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(248, 249, 250);
    padding: 20px;
    border-radius: 2px;

    form {
      flex: 1 1 0;
      overflow-x: hidden;
      overflow-y: auto;

      fieldset {
        background: rgb(248, 249, 250);

        legend {
          background: rgb(248, 249, 250);
        }
      }
    }

    .actions {
      padding: 10px 10px 0;
    }
  }
}

.password-show {
  cursor: pointer;

  &:hover {
    color: lighten($input-group-addon-color, 30);
  }

  &:active {
    color: darken($input-group-addon-color, 30);
  }
}
