@import url("assets/icon-font/style.css");
@import "./assets/theme";

body {
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  min-height: 800px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  .card-header {
    .title {
      height: 38px;
      display: flex;
      align-items: center;
      white-space: nowrap;

      .text {
        text-transform: uppercase;
        font-weight: 500;
      }

      .icon {
        margin-right: 5px;
      }
    }
  }

  .card-body {
    padding: 0;
    max-height: calc(100% - 106px);

    .item {
      display: flex;

      .info {
        flex-grow: 1;
      }

      .delete {

        &:hover {
          color: lighten($red, 10%) !important;
        }

        &:active {
          color: darken($red, 10%) !important;
        }
      }
    }
  }
}

.dropdown {
  &-btn {
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &-menu {
    &-item {
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.8;
      }
    }
  }
}

fieldset {
  border: 1px solid #dee2e6;
  padding: 0 0.5rem 0.5rem 0.5rem;
  margin: 0.5rem 0 1rem 0;
  box-shadow: 0px 0px 0px 0px #dee2e6;

  legend {
    margin-top: -14px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
  }
}
