@import "../../../../../assets/theme";

.host-list-item {
  display: flex;
  justify-content: stretch;

  .icon, .dropdown {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    i {
      font-size: 1.4rem;
    }
  }

  .info {
    flex: 1 1 0;
    display: flex;
    align-items: center;

    .name {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 700;
    }

    .ip {
      font-size: 10px;
      font-weight: 500;
    }

    .network {
      background: #1f2937;
      padding: 5px;
      font-size: 10px;
      font-weight: 700;
      color: #dee2e6;
      border-radius: 3px;
    }
  }

  .dropdown {

    .delete {

      &:hover {
        color: lighten($red, 10%) !important;
      }

      &:active {
        color: darken($red, 10%) !important;
      }
    }
  }
}
