<div class="left">
  <div class="icon">
    <img src="./assets/icons/favicon.png" alt="icon">
  </div>
  <div class="info">
    <p>{{ 'HOME.INFORMATION' | translate }}
      <br><strong>{{ 'HOME.APPLICATION_NAME' | translate }} {{ 'HOME.VERSION' | translate }}</strong></p>
  </div>
  <div class="actions">
    <button type="button" class="btn btn-outline-dark btn-with-icon" (click)="newProject()">
      <span class="icon"><i class="cfg-plus-square"></i></span>
      <span>{{ 'HOME.CREATE_NEW_CONFIGURATION' | translate }}</span>
    </button>
    <!--<button type="button" class="btn btn-outline-dark btn-with-icon">
      <span class="icon"><i class="cfg-upload"></i></span>
      <span>{{ 'HOME.IMPORT_EXISTING_CONFIGURATION' | translate }}</span>
    </button>-->
  </div>
</div>
<div class="right">
  <ul class="list-group">
    <li *ngFor="let project of projects"
        class="list-group-item d-flex justify-content-between align-items-center"
        (dblclick)="setProject(project)"
    >
      <span>{{project.name}}</span>
      <div class="dropdown">
    <span class="dropdown-btn" data-bs-toggle="dropdown">
      <i class="cfg-ellipsis-v"></i>
    </span>
        <ul class="dropdown-menu">
          <li class="dropdown-menu-item px-1 py-1">
            <span><i class="cfg-clone"></i></span>
            <span class="px-1">{{ 'DUPLICATE' | translate }}</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-menu-item delete text-danger px-1 py-1">
            <span><i class="cfg-trash-alt"></i></span>
            <span class="px-1">{{'REMOVE' | translate}}</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
