.app {
  width: 100vw;
  height: 100vh;
  min-width: 1000px;
  min-height: 800px;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  align-items: stretch;
  background: url("/assets/image/background.jpg") no-repeat;
  background-size: 100% auto;

  .side-nav {
    width: 260px;
  }

  main {
    flex: 1 1 0;
    background: rgba(255, 255, 255, 0.4);
  }
}
