<div class="content">
  <app-firewall
    #stormshield
    [firewall]="stormshieldFirewall"
    [networkInputIp]="false"
    [networkOutputIp]="true"
    [inputIpLabel]="null"
    [outputIpLabel]="'INFRASTRUCTURE.FIREWALL.NETWORK_IP'">
  </app-firewall>
  <app-firewall
    class="mt-2"
    #pfsense
    [firewall]="pfsenseFirewall"
    [networkInputIp]="true"
    [networkOutputIp]="false"
    [inputIpLabel]="'INFRASTRUCTURE.FIREWALL.NETWORK_IP'"
    [inputInterfaceDescriptionLabel]="'INFRASTRUCTURE.FIREWALL.NETWORK_INTERFACE_DESCRIPTION'"
    [inputInterfaceNameLabel]="'INFRASTRUCTURE.FIREWALL.NETWORK_INTERFACE_NAME'"
    [outputIpLabel]="'INFRASTRUCTURE.FIREWALL.EXPLOITATION_IP'"
    [outputInterfaceDescriptionLabel]="'INFRASTRUCTURE.FIREWALL.EXPLOITATION_INTERFACE_DESCRIPTION'"
    [outputInterfaceNameLabel]="'INFRASTRUCTURE.FIREWALL.EXPLOITATION_INTERFACE_NAME'"
    [usernameLabel]="'USERNAME'"
    [passwordLabel]="'PASSWORD'">
  </app-firewall>
</div>
