<div class="header">
  <span class="icon">
    <i class="cfg-config"></i>
  </span>
  <span class="name">{{projectName}}</span>
</div>
<div class="navigation">
  <ng-container *ngFor="let item of menu">
    <div class="nav-title">{{item.title | translate}}</div>
    <ul class="nav flex-column">
      <li
        *ngFor="let item of item.items"
        [class.active]="isActive(item.link)"
        class="nav-item"
      >
        <a
          [routerLink]="item.link"
          class="nav-link d-flex align-items-center"
        >
        <span class="sidebar-icon">
          <i class="{{item.icon}}"></i>
        </span>
          <span class="sidebar-text">{{item.name | translate}}</span>
        </a>
      </li>
    </ul>
  </ng-container>
</div>
<div class="footer">
</div>
