@font-face {
  font-family: 'configurator';
  src:  url('fonts/configurator.eot?p13qlz');
  src:  url('fonts/configurator.eot?p13qlz#iefix') format('embedded-opentype'),
    url('fonts/configurator.ttf?p13qlz') format('truetype'),
    url('fonts/configurator.woff?p13qlz') format('woff'),
    url('fonts/configurator.svg?p13qlz#configurator') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'configurator' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cfg-ldap:before {
  content: "\e923";
}
.cfg-elastic:before {
  content: "\e924";
}
.cfg-nagios:before {
  content: "\e925";
}
.cfg-nrpe:before {
  content: "\e926";
}
.cfg-proxy:before {
  content: "\e922";
}
.cfg-debian-repo:before {
  content: "\e921";
}
.cfg-firewall:before {
  content: "\e920";
}
.cfg-clone:before {
  content: "\e91f";
}
.cfg-upload:before {
  content: "\e91e";
}
.cfg-eye-slash:before {
  content: "\e91c";
}
.cfg-eye:before {
  content: "\e91d";
}
.cfg-bars:before {
  content: "\e916";
}
.cfg-redo-alt:before {
  content: "\e917";
}
.cfg-home:before {
  content: "\e918";
}
.cfg-laptop-house:before {
  content: "\e919";
}
.cfg-download:before {
  content: "\e91a";
}
.cfg-save:before {
  content: "\e91b";
}
.cfg-cogs:before {
  content: "\e90e";
}
.cfg-config:before {
  content: "\e90c";
}
.cfg-cubes:before {
  content: "\e902";
}
.cfg-ellipsis-v:before {
  content: "\e90f";
}
.cfg-envelope:before {
  content: "\e908";
}
.cfg-file-certificate:before {
  content: "\e906";
}
.cfg-globe:before {
  content: "\e903";
}
.cfg-ip-lock:before {
  content: "\e904";
}
.cfg-minus:before {
  content: "\e911";
}
.cfg-minus-circle:before {
  content: "\e912";
}
.cfg-minus-square:before {
  content: "\e913";
}
.cfg-network-time:before {
  content: "\e909";
}
.cfg-network-wired:before {
  content: "\e900";
}
.cfg-openvpn:before {
  content: "\e905";
}
.cfg-pen:before {
  content: "\e90d";
}
.cfg-phone-office:before {
  content: "\e907";
}
.cfg-plus:before {
  content: "\e90a";
}
.cfg-plus-circle:before {
  content: "\e914";
}
.cfg-plus-square:before {
  content: "\e915";
}
.cfg-server:before {
  content: "\e901";
}
.cfg-trash-alt:before {
  content: "\e90b";
}
.cfg-vmware:before {
  content: "\e910";
}
