<div class="virtual-machine-item-header">
  <span class="icon"><i class="cfg-vmware"></i></span>
  <span class="name">{{virtualMachine.name}} - {{virtualMachine.ip}}</span>
  <div class="dropdown">
    <span class="dropdown-btn" data-bs-toggle="dropdown">
      <i class="cfg-ellipsis-v"></i>
    </span>
    <ul class="dropdown-menu">
      <li class="dropdown-menu-item px-1 py-1" (click)="edit()">
        <span><i class="cfg-pen"></i></span>
        <span class="px-1">Modifier</span>
      </li>
      <li *ngIf="deletable">
        <hr class="dropdown-divider">
      </li>
      <li  *ngIf="deletable" class="dropdown-menu-item delete text-danger px-1 py-1" (click)="delete()">
        <span><i class="cfg-trash-alt"></i></span>
        <span class="px-1">{{'REMOVE' | translate}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="virtual-machine-item-body">
  <!--  <span>{{virtualMachine.mask}}</span>-->
  <!--  <span *ngIf="virtualMachine.gateway">{{virtualMachine.gateway}}</span>-->
  <div class="virtual-machine-item-services">
    <div
      *ngFor="let service of virtualMachine.services"
      virtualMachineItemService
      [service]="service"
      [deletable]="true"
      [draggable]="true"
      (dragstart)="serviceDragStart.emit({event: $event, service})"
      (onDelete)="onServiceDelete($event)"
    >
    </div>
  </div>
</div>
